name: "GitHub Docker"
on:
  push:
    paths:
      - ".github/workflows/CI.yml"
      - "dist/index.js"
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-16.04
          - ubuntu-18.04
          - ubuntu-20.04
          - windows-2016
          - windows-2019
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run the action
        uses: ./
        id: publish
        with:
          accessToken: ${{ github.token }}
          imageName: action-test
          tag: |
            latest-${{ matrix.os }}
            test-${{ matrix.os }}
          buildArgs: |
            TESTARG1=test1
            TESTARG2=test2
          context: test/
          contextName: test.Dockerfile
